@import 'tailwindcss';

@font-face {
	font-family: 'Old English Text MT';
	src: url('/fonts/oldenglishtextmt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Dark mode body styles */
.dark body {
	color: rgb(84, 24, 24);
	background-color: rgb(200, 200, 175);
}

/* Custom animations */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}
